#male{
    float: left;
    padding:30px;   
    height: 10px;    
}

#female{
    float: left;
    padding:30px; 
    height: 10px; 
}
.container{
   display: block;
   background: lightskyblue;
   margin-top: 40px;

}
.form-group{
 
    
}

html,
body {
  height: 100%;
}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -100px;
  }
nav {
    float: right;
    margin-top: 30px;
  }
  
  nav li {
    display: inline-block;
    padding-left: 15px;
    margin-left: 20px;
    line-height: 18px;
    border-left: 1px solid #efefef;
  }
  
  nav a {
    color:black;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #666;
  }
  
  nav li:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: 0 none;
  }
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    /* color: #fff; */
    text-align: center;
    text-decoration: none;
    /* background: #4aaaa5; */
  }